<!DOCTYPE html>
<html>
  <head>
    <title>Lab4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <%= yield %>

    <% if user_signed_in? %>
        <%= link_to((image_tag "logout.png", class: "myIcon")+'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-primary") %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
