<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FirstName %>
    <%= f.text_field :FirstName %>
  </div>

  <div class="field">
    <%= f.label :LastName %>
    <%= f.text_field :LastName %>
  </div>

  <div class="field">
    <%= f.label :Company %>
    <%= f.text_field :Company %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :Address %>
  </div>

  <div class="field">
    <%= f.label :City %>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :State %>
    <%= f.text_field :State %>
  </div>

  <div class="field">
    <%= f.label :Country %>
    <%= f.text_field :Country %>
  </div>

  <div class="field">
    <%= f.label :PostalCode %>
    <%= f.text_field :PostalCode %>
  </div>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :Phone %>
  </div>

  <div class="field">
    <%= f.label :Fax %>
    <%= f.text_field :Fax %>
  </div>

  <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :Email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
